<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-3 py-5 my-5 border-top px-5 bottomnav">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <div class="d-flex align-items-center">
        <img src="assets/logo.png" alt="Agua Logo" width="50" height="50" class="d-inline-block align-text-top my-auto">
        <h3 class="ml-3 mb-0 display-5">Agua</h3>
      </div>
      <p class="text-body-secondary lead px-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
         took a galley of type and scrambled it to make a type specimen book. </p>
    </div>

    

    <div class="col mb-3 ">
        <nav class="navbar-dark ">
            <ul class="navbar-nav text-white links text-center" id="headName">
                <li class="nav-item mb-2"><a routerLink="" class="nav-link ">Home</a></li>
                <li class="nav-item mb-2"><a routerLink="team" class="nav-link ">Team</a></li>
                <li class="nav-item mb-2"><a routerLink="petition" class="nav-link ">Petition</a></li>
                <li class="nav-item mb-2"><a routerLink="learn" class="nav-link ">Learn</a></li>
                <li class="nav-item mb-2"><a routerLink="login" class="nav-link ">Admin</a></li>
            </ul>
        </nav>
    </div>

    <div class="col mb-3 text-center">
        <div class="py-4"></div>
        <h2>Contact Us</h2>
      
    </div>

    
  </footer>

