
<div class="confirm">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="assets/logo.png" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold text-body-emphasis">Thank you for petitioning</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="">Back to home</button>
                
            </div>
        </div>
    </div>
</div>