<div class="">
    <div class="text-bg-dark top py-5 ">
        <div class="col-md-6 px-0 py-5 my-5 px-2">
        <h1 class="display-4 py-5 my-3 px-4">“Thousands have lived without love, Not without water.”</h1>
        </div>
        
    </div>

    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 px-5 ">
        <div class="col-10 col-sm-8 col-lg-6" >
            <img src="assets/images/hugas.jpg" class="d-block mx-lg-auto img-fluid" alt="drinking" width="600" height="400" loading="lazy">
       

        </div>
        <div class="col-lg-6">
        
       <h1 class="display-6 fw-normal text-body-emphasis lh-1 mb-3" id="about">Why is Clean Water Important?</h1>
        <p class="lead ">Clean water is essential for a variety of reasons. To begin with, it is critical
             for human health since contaminated water can contain hazardous bacteria, viruses, and
              parasites that can cause a variety of ailments ranging from simple stomach upsets to life
              -threatening diseases such as cholera and typhoid fever. Second, clean water is critical
               for agricultural and food production since crops and livestock require water to grow, and 
               contaminated water can lead to lower crop yields and greater disease risk in animals. 
               Third, because clean water is a basic requirement for industries, businesses, and
                infrastructure, it is critical for economic development. Finally, clean water is
                 essential for the environment because it supports ecosystems and biodiversity.
        </p>
        
        </div>
     </div>
     
     <div class=" px-4 py-5" id="vision">
        <h2 class="pb-2 text-center text-dark display-3">Benefits of Clean Water</h2>
    
        <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-5 py-5 ">
            
            <div class="col my-2 ">
                <div class="card card-cover h-100 overflow-hidden text-bg-white rounded-5 shadow" >
                    <div class="d-flex flex-column h-100 p-4  text-dark ">
                        
                        <h4 class="mt-2 mb-2 lh-1 pb-3 display-6 text-primary">Health </h4>
                        <p class="lead">Waterborne infections such as cholera, typhoid fever, and dysentery, which can be fatal, are reduced by access to clean water. It also lowers the occurrence of water-related disorders such as diarrhea, which is a primary cause of death in children under the age of five.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col my-2 ">
                <div class="card card-cover h-100 overflow-hidden text-bg-white rounded-5 shadow" >
                    <div class="d-flex flex-column h-100 p-4  text-dark ">
                        
                        <h4 class="mt-2 mb-2 lh-1 pb-3 display-6 text-primary">Quality of Life</h4>
                        <p class="lead">It has the potential to alleviate the burden of water collection, particularly for women and children, while also providing clean and convenient supplies of water for drinking, cooking, and sanitation. </p>
                    </div>
                </div>
            </div>
            <div class="col my-2 ">
                <div class="card card-cover h-100 overflow-hidden text-bg-white rounded-5 shadow" >
                    <div class="d-flex flex-column h-100 p-4  text-dark ">
                        
                        <h4 class="mt-2 mb-2 lh-1 pb-3 display-6 text-primary">Environmental</h4>
                        <p class="lead">Water is critical to the ecology. It helps to maintain the natural balance of aquatic life and prevents soil erosion and other forms of land degradation by supporting ecosystems and biodiversity.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col my-2 ">
                <div class="card card-cover h-100 overflow-hidden text-bg-white rounded-5 shadow" >
                    <div class="d-flex flex-column h-100 p-4  text-dark ">
                        
                        <h4 class="mt-2 mb-2 lh-1 pb-3 display-6 text-primary">Agriculture</h4>
                        <p class="lead">Agriculture and food production require clean water. Crops and cattle both require water to grow, and contaminated water can diminish crop yields and raise animal illness risk. Clean water contributes to increased agricultural output and food security.
                        </p>
                    </div>
                </div>
            </div>
            
            
            


        </div>
    </div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 px-5 ">
        <div class="col-10 col-sm-8 col-lg-6" >
            <h1 class="display-5 fw-normal text-body-emphasis lh-1 mb-3" id="about">Keeping things Clean: The Power of Sanitation</h1>
            <p class="lead ">• Must be at least 15 years old to 25 years old. Underage members are required to submit a consent form at every ARAW activity/event.
                <br><br> • Must be residing in Pampanga, preferably those who can travel around Angeles City.
                Are you qualified to be a volunteer? Be a part of a legacy!</p>
            
        </div>
        <div class="col-lg-6">
        
        <img src="assets/images/bata.png" class="d-block mx-lg-auto img-fluid" alt="drinking" width="600" height="400" loading="lazy">
        
        </div>
    </div>
    <div class=" px-4 py-5" id="vision">
        <h2 class="pb-2 text-center text-primary display-3">Ways you can Improve your Sanitation</h2>
    
        <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-5 py-5 ">
            
            <div class="col my-2 ">
                <div class="card card-cover h-100 overflow-hidden text-bg-white rounded-5 shadow hay" >
                    <div class="d-flex flex-column h-100 p-4  text-light ">
                        
                        <h4 class="mt-2 mb-2 lh-1 pb-3 display-6 text-center">Handwashing </h4>
                        <img src="assets/images/one.png" alt="" class="mx-auto mt-5 mb-5" width="150" height="120">
                        
                    </div>
                </div>
            </div>
            <div class="col my-2 "> 
                <div class="card card-cover h-100 overflow-hidden text-bg-white rounded-5 shadow hay" >
                    <div class="d-flex flex-column h-100 p-4  text-light ">
                        
                        <h4 class="mt-2 mb-2 lh-1 pb-3 display-6 text-center">Personal Hygiene</h4>
                        <img src="assets/images/two.png" alt="" class="mx-auto mt-5 mb-5" width="150" height="120">
                         </div>
                </div>
            </div>
            <div class="col my-2 ">
                <div class="card card-cover h-100 overflow-hidden text-bg-white rounded-5 shadow hay" >
                    <div class="d-flex flex-column h-100 p-4  text-light ">
                        
                        <h4 class="mt-2 mb-2 lh-1 pb-3 display-6 text-center">Proper Disposal of Waste</h4>
                        <img src="assets/images/three.png" alt="" class="mx-auto mt-3 mb-5" width="150" height="120">
                        
                    </div>
                </div>
            </div>
            <div class="col my-2 ">
                <div class="card card-cover h-100 overflow-hidden text-bg-white rounded-5 shadow hay" >
                    <div class="d-flex flex-column h-100 p-4  text-light ">
                        
                        <h4 class="mt-2 mb-2 lh-1 pb-3 display-6 text-center">Food Safety</h4>
                        <img src="assets/images/four.png" alt="" class="mx-auto mt-5 mb-5 heh" width="150" height="120">
                        
                    </div>
                </div>
            </div>
            
            
            


        </div>
    </div>
    

</div>