<div class="">
    <div class="text-bg-dark top py-5 ">
        <div class="col-md-6 px-0 py-5 my-5 px-2">
        <h1 class="display-4 py-5 my-3 px-4">“When the well's dry, we know the worth of water.”</h1>
        </div>
        
    </div>

    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 px-5 ">
        <div class="col-10 col-sm-8 col-lg-6" >
            <h1 class="display-5 fw-normal text-body-emphasis lh-1 mb-3" id="about">About Us</h1>
            <p class="lead ">Welcome to Agua, a platform dedicated to promoting universal access to clean water and sanitation for all 
                people, regardless of their location or socioeconomic status. Our goal is to raise awareness about 
                the importance of clean water and sanitation, and to provide tools and resources for individuals and 
                organizations to get involved in efforts to improve access and sustainability.
                <br> <br>
                Join us in our mission to promote universal access to clean water and sanitation, and to create a 
                world where everyone can thrive. Together, we can make a difference.</p>
            
        </div>
        <div class="col-lg-6">
        
        <img src="assets/images/drink.jpg" class="d-block mx-lg-auto img-fluid" alt="drinking" width="600" height="400" loading="lazy">
        
        </div>
     </div>
     
     <div class=" px-4 py-5" id="vision">
        <h2 class="pb-2 border-bottom text-center text-white display-3">Our Visions</h2>
    
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-5 py-5 ">
            <div class="col my-2 ">
                <div class="card card-cover h-100 overflow-hidden text-bg-white rounded-5 shadow" >
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-dark ">
                        <img src="assets/images/clean.png" alt="" class="mx-auto" width="80" height="80">
                        <h4 class="pt-2 mt-5 mb-4 lh-1 text-center">Clean Water</h4>
                        <p class="text-center">"I learned about the importance of clean water and sanitation through this website, and I was inspired to get involved in my local community. Thanks to the resources provided by this organization, I was able to start a community water project that has made a real difference in the lives of my neighbors."/p>
                    </div>
                </div>
            </div>
            <div class="col my-2">
                <div class="card card-cover h-100 overflow-hidden text-bg-white rounded-5 shadow" >
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-dark">
                        <img src="assets/images/sanitation.png" alt="" class="mx-auto" width="80" height="80">
                        <h4 class="pt-2 mt-5 mb-4 lh-1 text-center">Sanitation</h4>
                        <p class="text-center">The vision for sanitation is to ensure universal access to safe and adequate sanitation facilities and services for all people,
                             regardless of their location or socioeconomic status. This vision includes not only the provision
                              of sanitation infrastructure, but also the promotion of hygiene practices and the safe disposal 
                              of human waste. </p>
                    </div>
                </div>
            </div>
            <div class="col my-2">
                <div class="card card-cover h-100 overflow-hidden text-bg-white rounded-5 shadow" >
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-dark">
                        <img src="assets/images/convergence.png" alt="" class="mx-auto" width="110" height="80">
                        <h4 class="pt-2 mt-5 mb-4 lh-1 text-center">Convergenence</h4>
                        <p class="text-center">Bring together individuals, organizations, and governments from diverse sectors and regions to collaborate and converge their efforts
                             towards achieving common goals related to clean water and sanitation. The ultimate goal is to
                              ensure universal access to clean water and sanitation for all people, while also promoting
                               sustainable and innovative solutions, and protecting the environment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5">

    </div>
    
    <div class="text-bg-dark bottom  ">      
        <div class=" px-0 py-4   ">
            <h1 class="display-2  my-3 px-4 life">“Life is Water.”</h1>
        </div>
    </div>

    <div class=" px-4 py-5" id="custom-cards">
        <h2 class="pb-2 text-center text-dark display-3 py-5">Testimonials</h2>
    
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-5 py-5 ">
            <div class="col my-2 ">
                <div class="card-cover h-100 overflow-hidden  rounded-5 shadow cards" >
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-dark ">
                        <div class="d-flex align-items-center py-5">
                            <img src="assets/images/maria.png" alt="Image Description" class="img-fluid rounded-circle mr-3" width="100">
                            <h1 class="h4 px-4 ">John Doe</h1>
                        </div>
                        <p class="text-center">"I learned about the importance of clean water and sanitation through this website, and I was 
                            inspired to get involved in my local community. Thanks to the resources provided by this organization,
                             I was able to start a community water project that has made a real difference in the lives of my 
                             neighbors."</p>
                    </div>
                </div>
            </div>
            <div class="col my-2 ">
                <div class="card-cover h-100 overflow-hidden  rounded-5 shadow cards" >
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-dark ">
                        <div class="d-flex align-items-center py-5">
                            <img src="assets/images/david.png" alt="Image Description" class="img-fluid rounded-circle mr-3" width="100">
                            <h1 class="h4 px-4 ">David</h1>
                        </div>
                        <p class="text-center">"The work being done by this organization is truly life-changing. Access to clean water and sanitation
                             has a ripple effect on every aspect of people's lives, from their health to their economic opportunities.
                              I highly recommend this website to anyone who wants to learn more and get involved." </p>
                    </div>
                </div>
            </div>
            <div class="col my-2 ">
                <div class="card-cover h-100 overflow-hidden  rounded-5 shadow cards" >
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-dark ">
                        <div class="d-flex align-items-center py-5">
                            <img src="assets/images/jane.png" alt="Image Description" class="img-fluid rounded-circle mr-3" width="100">
                            <h1 class="h4 px-4 ">Jane</h1>
                        </div>
                        <p class="text-center">"I wholeheartedly support this organization's mission; clean water and sanitation are basic human rights,
                             but millions of people around the world still lack access; this website is an excellent resource for
                              individuals and organizations seeking to make a positive impact on this critical issue."  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>