<div class="">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 px-5 mb-5">
        <div class="col-10 col-sm-8 col-lg-6 contact-card" >
            <h1 class="text-white p-5">Contact our Team</h1>
        </div>
        <div class="col-lg-6">
        </div>
     </div>


    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 px-5 contact">
        <div class="col-10 col-sm-8 col-lg-6" >
        
            <div class="row ">
                <div class="col-sm-4">
                  <mat-list-item>
                    <mat-icon mat-list-icon>email</mat-icon>
                    <h3 mat-line>Email</h3>
                    <p mat-line>email@site.com</p>
                  </mat-list-item>
                </div>
                <div class="col-sm-4">
                  <mat-list-item>
                    <mat-icon mat-list-icon>location_on</mat-icon>
                    <h3 mat-line>Location</h3>
                    <p mat-line>Holy Angel University</p>
                  </mat-list-item>
                </div>
                <div class="col-sm-4">
                  <mat-list-item>
                    <mat-icon mat-list-icon>phone</mat-icon>
                    <h3 mat-line>Phone</h3>
                    <p mat-line>(123) 456-7890</p>
                  </mat-list-item>
                </div>
              </div>
              
              
              
              
        </div>
        <div class="col-lg-6">
        
        <img src="assets/images/contact.png" class="d-block mx-lg-auto img-fluid" alt="drinking" width="600" height="400" loading="lazy">
        </div>
     </div>

     <div class="py-5">
        <h1 class="text-center h1 display-1">Meet the Team</h1>
     </div>
     
     <div class=" px-4 py-5" id="custom-cards">
        
        <div class="px-5">
            <div class="row">
                <div class="col-md-3 px-3">
                <mat-card >
                    <img
                    mat-card-image
                    src="assets/images/shem.png"
                    alt="shem"
                    width="80%"
                    height="auto"
                    />
                </mat-card>
                </div>
                <div class="col-md-3 px-3">
                <mat-card>
                    <img
                    mat-card-image
                    src="assets/images/kwi.png"
                    alt="quinny"
                    width="80%"
                    height="auto"
                    />
                </mat-card>
                </div>
                <div class="col-md-3 px-3">
                <mat-card>
                    <img
                    mat-card-image
                    src="assets/images/ian.png"
                    alt="earn"
                    width="80%"
                    height="auto"
                    />
                </mat-card>
                </div>
                <div class="col-md-3 px-3">
                <mat-card>
                    <img
                    
                    mat-card-image
                    src="assets/images/alee.png"
                    alt="alee"
                    width="80%"
                    height="auto"
                    />
                </mat-card>
                </div>
            </div>
        </div>
        
          
    </div>

    <div class="py-5">

    </div>
    
    <div class="container px-4 py-5" id="featured-3 text-center ">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-2 mv">
            <div class="feature col text-center">
                <h1 class="display-5 fw-normal text-body-emphasis lh-1 mb-3" id="about">Mission</h1>
                <p class="lead ">Our mission is to improve access to clean water and sanitation facilities for 
                    all individuals, regardless of their location or socio-economic status. We strive to promote 
                    sustainable and innovative solutions that are both environmentally friendly and cost-effective,
                     to ensure that everyone has access to this basic human right.</p>
                
            </div>
            <div class="feature col text-center">
                <h1 class="display-5 fw-normal text-body-emphasis lh-1 mb-3" id="about">Vision</h1>
                <p class="lead ">Our vision is a world where every person has access to safe and clean 
                    water, as well as adequate sanitation facilities, enabling them to live healthy and
                     productive lives. We envision a future where water scarcity and poor sanitation are
                      no longer major global issues, and where sustainable water and sanitation practices
                       are the norm. We are committed to working towards this vision through innovative
                        solutions, community engagement, and partnerships with stakeholders at all levels.
                </p>
            </div>
        </div>
    </div>

</div>

